# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE & Editor files
.idea/
*.iml
.vscode/
bin/
out/

# Minecraft run directory & logs
run/
*.log

# Project scratch & tooling
scratch/
.agents/
